
body {
    overflow-x: hidden;
    font-family: 'Arimo', sans-serif;
    font-family: 'Roboto', sans-serif;
    color:rgb(255, 255, 255);
    background: rgb(0, 0, 0);
}

/* TOP BAR */

/* .top-bar{
    background: black;
    height: 2rem;
    padding: .25rem  0;
}

.top-bar a{
    color: white;
    text-decoration: none;
}  */



/* ======NAV BAR ======= */

/* logo center */

.navbar {
    background:linear-gradient(
        rgba(0, 0, 0, 0.99),
        rgba(0, 0, 0, 0.69),
        rgba(0, 0, 0, 0.39),
        rgba(0, 0, 0, 0)
      );
}


@media (min-width:992px) {
    .navbar-expand-lg .navbar-collapse{
        width: 100%;
    } 
}
/* navbar color */
@media (max-width:992px) {
    .navbar{
        background-color: black;
    } 
}

.nav-link{
    color: white !important;
    
}

.nav-link.active,
.nav-link:hover{
    
    color: rgb(198, 198, 198) !important;
    
}


.navbar-brand img{
    height: 2.5rem;
}

.nav-item{
    padding: .5rem;
}


/* CAROUSEL */


/* .tinted-image:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(
        rgba(0, 0, 0, 0.99),
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0)
      );
  }  */

.carousel-inner{
    max-height: 50rem!important ;
}

.carousel-caption {
    position:absolute;
    top: 54%;
    transform: translateY(-50%);
     
}

.caption-bg{
    background-color: rgba(0, 0, 0, .4);
    color:white;

}


.card-img-overlay {
    background-color: rgba(#000, 0.9);
  }


.galery-col {
    position: relative;
    width: 100%;
    padding:5px;
}



.card, .card-img{
    border-radius: 0;
    border: none;

}

